NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://usernmae:password@cluster0.fmpir.mongodb.net/Properties?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret

CLIENT_URL=http://localhost:3000

EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=your_mailtrap_username
EMAIL_PASSWORD=your_mailtrap_password
EMAIL_FROM=noreply@realestate.com